body {
    margin: 0;
}

header {
    height: 32rem;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(90deg, rgba(0,0,0,0.8687850140056023) 47%, rgba(155,155,155,0.7567401960784313) 100%);
}

.presentation {
    color: white;
    padding: 9em 0 0 7em
}

.saludo {
    font-family: 'Arimo', sans-serif;
}

.presentation h1 {
    font-family: 'Bebas Neue', sans-serif;
}

.description {
    font-family: 'Arimo', sans-serif;
}

.nav-menu {
    position: relative;
}

ul.principal-menu {
    display: flex;
    gap: 2.5em;
    margin: 0 80px 25em 0;
}

.principal-menu {
    list-style: none;
}

li {
    margin-top: 35px;
}

img {
    width: 600px;
    position: relative;
    top: -340px;
}

a {
    text-decoration: none;
    font-family: 'Arimo', sans-serif;
    color: white;
    font-weight: bold;
}
