body {
    margin: 0;
}

header {
    height: 41rem;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(90deg, rgba(0,0,0,0.8687850140056023) 47%, rgba(155,155,155,0.7567401960784313) 100%);
}

.presentation {
    color: white;
    padding: 9em 0 0 8em
}

.saludo {
    font-family: 'Arimo', sans-serif;
}

.presentation h1 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 40px;
}

.description {
    font-family: 'Arimo', sans-serif;
}

/* .nav-menu {
    position: relative;
} */

ul.principal-menu {
    display: flex;
    gap: 2.5em;
    margin: 0 80px 25em 0;
}

.principal-menu {
    list-style: none;
}

li {
    margin-top: 35px;
}

.faceFoto {
    width: 453px;
    margin: -493px 0px 0px 60px;
}    

a {
    text-decoration: none;
    font-family: 'Arimo', sans-serif;
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.red-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Bebas Neue', sans-serif;
    height: 20px;
    font-size: 29px;
}

.networkImg {
    width: 85px;
}
.social-network-images {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 6rem;
    gap: 23px
}